.heading {
	font-weight: 600;
	font-size: 20px;
}

#proxySetting {
	margin-top: 10px;
}

@media only screen and (max-width: 680px) {
	#neo_proxy_content {
		max-height: 360px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

#deleteProxyModal{
  overflow-y: unset;	
}